.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #807474 !important;
}
.bg-success {
  background-color: #47b5ed !important;
}
.bg-info {
  background-color: #4479d9 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #807474 !important;
  border-color: #807474 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #534b4b !important;
  border-color: #534b4b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #534b4b !important;
  border-color: #534b4b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f01111 !important;
  border-color: #f01111 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a00a0a !important;
  border-color: #a00a0a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a00a0a !important;
  border-color: #a00a0a !important;
}
.btn-info,
.btn-info:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #807474;
  color: #807474;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #534b4b !important;
  background-color: transparent!important;
  border-color: #534b4b !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #807474 !important;
  border-color: #807474 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #f01111;
  color: #f01111;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a00a0a !important;
  background-color: transparent!important;
  border-color: #a00a0a !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f01111 !important;
  border-color: #f01111 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #4479d9;
  color: #4479d9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: #2150a5 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #807474 !important;
}
.text-secondary {
  color: #f01111 !important;
}
.text-success {
  color: #47b5ed !important;
}
.text-info {
  color: #4479d9 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #4a4444 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #920909 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1283bc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1f4a98 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #807474;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #4479d9;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #807474;
  border-color: #807474;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #807474;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bdb6b6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #807474 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #807474;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #807474;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #807474;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #807474;
  border-bottom-color: #807474;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #807474 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #f01111 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23807474' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tq4InqlMVv .navbar-dropdown {
  position: relative !important;
}
.cid-tq4InqlMVv .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tq4InqlMVv .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tq4InqlMVv .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tq4InqlMVv .dropdown-item:hover,
.cid-tq4InqlMVv .dropdown-item:focus {
  background: #807474 !important;
  color: white !important;
}
.cid-tq4InqlMVv .dropdown-item:hover span {
  color: white;
}
.cid-tq4InqlMVv .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tq4InqlMVv .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tq4InqlMVv .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tq4InqlMVv .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tq4InqlMVv .nav-link {
  position: relative;
}
.cid-tq4InqlMVv .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tq4InqlMVv .container {
    flex-wrap: nowrap;
  }
}
.cid-tq4InqlMVv .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tq4InqlMVv .dropdown-menu,
.cid-tq4InqlMVv .navbar.opened {
  background: #136e73 !important;
}
.cid-tq4InqlMVv .nav-item:focus,
.cid-tq4InqlMVv .nav-link:focus {
  outline: none;
}
.cid-tq4InqlMVv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tq4InqlMVv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tq4InqlMVv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tq4InqlMVv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tq4InqlMVv .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tq4InqlMVv .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tq4InqlMVv .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #136e73;
}
.cid-tq4InqlMVv .navbar.opened {
  transition: all 0.3s;
}
.cid-tq4InqlMVv .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tq4InqlMVv .navbar .navbar-logo img {
  width: auto;
}
.cid-tq4InqlMVv .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tq4InqlMVv .navbar.collapsed {
  justify-content: center;
}
.cid-tq4InqlMVv .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tq4InqlMVv .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tq4InqlMVv .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.5rem);
  }
}
.cid-tq4InqlMVv .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tq4InqlMVv .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tq4InqlMVv .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tq4InqlMVv .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tq4InqlMVv .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tq4InqlMVv .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tq4InqlMVv .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tq4InqlMVv .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tq4InqlMVv .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tq4InqlMVv .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tq4InqlMVv .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tq4InqlMVv .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tq4InqlMVv .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tq4InqlMVv .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tq4InqlMVv .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tq4InqlMVv .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tq4InqlMVv .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tq4InqlMVv .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tq4InqlMVv .navbar.navbar-short {
  min-height: 60px;
}
.cid-tq4InqlMVv .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tq4InqlMVv .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tq4InqlMVv .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tq4InqlMVv .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tq4InqlMVv .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tq4InqlMVv .dropdown-item.active,
.cid-tq4InqlMVv .dropdown-item:active {
  background-color: transparent;
}
.cid-tq4InqlMVv .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tq4InqlMVv .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tq4InqlMVv .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tq4InqlMVv .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #136e73;
}
.cid-tq4InqlMVv .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tq4InqlMVv .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tq4InqlMVv ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tq4InqlMVv .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tq4InqlMVv button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tq4InqlMVv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tq4InqlMVv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tq4InqlMVv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tq4InqlMVv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tq4InqlMVv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tq4InqlMVv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tq4InqlMVv nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tq4InqlMVv nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tq4InqlMVv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tq4InqlMVv .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tq4InqlMVv a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tq4InqlMVv .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tq4InqlMVv .navbar {
    height: 70px;
  }
  .cid-tq4InqlMVv .navbar.opened {
    height: auto;
  }
  .cid-tq4InqlMVv .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tq4NTAJ2mP {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tq4NTAJ2mP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tq4NTAJ2mP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tq4NTAJ2mP .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tq4NTAJ2mP .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tq4NTAJ2mP .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tq4NTAJ2mP .mbr-text,
.cid-tq4NTAJ2mP .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-tq4NTAJ2mP .mbr-section-title {
  text-align: left;
  color: #000000;
}
.cid-tqcdVhYjRP {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tqcdVhYjRP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqcdVhYjRP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqcdVhYjRP .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tq9zEIxjoB {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tq9zEIxjoB img,
.cid-tq9zEIxjoB .item-img {
  width: 100%;
}
.cid-tq9zEIxjoB .item:focus,
.cid-tq9zEIxjoB span:focus {
  outline: none;
}
.cid-tq9zEIxjoB .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tq9zEIxjoB .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tq9zEIxjoB .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tq9zEIxjoB .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tq9zEIxjoB .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tq9zEIxjoB .mbr-section-title {
  color: #232323;
}
.cid-tq9zEIxjoB .mbr-text,
.cid-tq9zEIxjoB .mbr-section-btn {
  text-align: center;
}
.cid-tq9zEIxjoB .item-title {
  text-align: center;
}
.cid-tq9zEIxjoB .item-subtitle {
  text-align: center;
}
.cid-tqcaJFzJom {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tqcaJFzJom .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqcaJFzJom .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqcaJFzJom .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tq575r2QKp {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tq575r2QKp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tq575r2QKp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tq575r2QKp .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 570px;
  max-width: 570px;
}
@media (max-width: 768px) {
  .cid-tq575r2QKp .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tq575r2QKp .embla__button--next,
.cid-tq575r2QKp .embla__button--prev {
  display: flex;
}
.cid-tq575r2QKp .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-tq575r2QKp .embla__button {
    display: none;
  }
}
.cid-tq575r2QKp .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tq575r2QKp .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tq575r2QKp .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tq575r2QKp .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 768px) {
  .cid-tq575r2QKp .embla__button {
    top: auto;
  }
}
.cid-tq575r2QKp .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-tq575r2QKp .user_image .item-wrapper {
  width: 200px;
  height: 200px;
}
.cid-tq575r2QKp .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
@media (max-width: 230px) {
  .cid-tq575r2QKp .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-tq575r2QKp .embla {
  position: relative;
  width: 100%;
}
.cid-tq575r2QKp .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tq575r2QKp .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tq575r2QKp .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tq575r2QKp .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tq575r2QKp .user_name {
  color: #136e73;
  text-align: center;
}
.cid-tq575r2QKp H3 {
  color: #000000;
}
.cid-tq575r2QKp .user_text {
  color: #000000;
}
.cid-tq575r2QKp .user_desk {
  color: #000000;
}
.cid-tqcdW1X7Q0 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tqcdW1X7Q0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqcdW1X7Q0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqcdW1X7Q0 .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tq5ciUdmyc {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tq5ciUdmyc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tq5ciUdmyc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tq5ciUdmyc .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tq5ciUdmyc .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tq5ciUdmyc .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tq5ciUdmyc .mbr-text,
.cid-tq5ciUdmyc .mbr-section-btn {
  text-align: left;
}
.cid-tq5ciUdmyc .mbr-section-title {
  text-align: left;
}
.cid-tq5hnmpgXQ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tq5hnmpgXQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tq5hnmpgXQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tq5hnmpgXQ .mbr-section-title {
  color: #ffe885;
}
.cid-tq5hnmpgXQ .mbr-section-subtitle {
  color: #ffe161;
}
.cid-ts9jmCFnb3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ebeaea;
}
.cid-ts9jmCFnb3 img,
.cid-ts9jmCFnb3 .item-img {
  width: 100%;
}
.cid-ts9jmCFnb3 .item:focus,
.cid-ts9jmCFnb3 span:focus {
  outline: none;
}
.cid-ts9jmCFnb3 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ts9jmCFnb3 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ts9jmCFnb3 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ts9jmCFnb3 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-ts9jmCFnb3 .item-wrapper {
  background: transparent;
}
.cid-ts9jmCFnb3 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ts9jmCFnb3 .mbr-section-title {
  color: #232323;
}
.cid-ts9jmCFnb3 .mbr-text,
.cid-ts9jmCFnb3 .mbr-section-btn {
  text-align: left;
}
.cid-ts9jmCFnb3 .item-title {
  text-align: left;
}
.cid-ts9jmCFnb3 .item-subtitle {
  text-align: center;
}
.cid-tqcleBG8II {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ebeaea;
}
.cid-tqcleBG8II .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqcleBG8II .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqcleBG8II .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqcleBG8II .row {
  flex-direction: row-reverse;
}
.cid-tqcleBG8II img {
  width: 100%;
}
.cid-tqcdWhOz2N {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tqcdWhOz2N .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqcdWhOz2N .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqcdWhOz2N .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tq5jVQJroy {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tq5jVQJroy .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-tq5jVQJroy .mbr-text {
  color: #000000;
}
.cid-ts8U9Mo9gO {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-ts8U9Mo9gO .mbr-fallback-image.disabled {
  display: none;
}
.cid-ts8U9Mo9gO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ts8U9Mo9gO .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-ts8UtWbepj {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #d1ebed;
}
.cid-ts8UtWbepj .mbr-fallback-image.disabled {
  display: none;
}
.cid-ts8UtWbepj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ts8UtWbepj .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-ts8UtWbepj .card-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-ts8UtWbepj .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-ts8UtWbepj .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-ts8UtWbepj .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-ts8UtWbepj .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-ts8UtWbepj .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-ts8UtWbepj .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-ts8UtWbepj .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-ts8UtWbepj .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-ts8UtWbepj .card-title {
  color: #136e73;
}
.cid-ts8UtWbepj .card-subtitle {
  color: #e43f3f;
}
.cid-tqcdWGxuGb {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tqcdWGxuGb .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqcdWGxuGb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqcdWGxuGb .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tq9NWwEcaD {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tq9NWwEcaD .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-tq9NWwEcaD .mbr-text {
  color: #000000;
}
.cid-tq9OEB0SI3 {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tq9OEB0SI3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tq9OEB0SI3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tq9OEB0SI3 .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-tq9OEB0SI3 .item {
    margin-bottom: 4rem;
  }
}
.cid-tq9OEB0SI3 .item:last-child .icon-box:before {
  display: none;
}
.cid-tq9OEB0SI3 .item.last .icon-box:before {
  display: none;
}
.cid-tq9OEB0SI3 .icon-box {
  background: #136e73;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tq9OEB0SI3 .icon-box {
    margin-right: 1rem;
  }
}
.cid-tq9OEB0SI3 .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 120%;
  color: #136e73;
  transform: translate(-50%, 0);
}
.cid-tq9OEB0SI3 span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tq9OEB0SI3 .card {
    margin-bottom: 2rem;
  }
  .cid-tq9OEB0SI3 .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tq9OEB0SI3 .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-tq9OEB0SI3 .icon-box::before {
    top: 114%;
  }
}
.cid-tq9OEB0SI3 .icon-title {
  color: #000000;
}
.cid-tq9SGunzq4 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tq9SGunzq4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tq9SGunzq4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tq9SGunzq4 .mbr-section-title {
  color: #ffe885;
}
.cid-tq9SGunzq4 .mbr-section-subtitle {
  color: #ffe161;
}
.cid-ts9nzkF33j {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ebeaea;
}
.cid-ts9nzkF33j img,
.cid-ts9nzkF33j .item-img {
  width: 100%;
}
.cid-ts9nzkF33j .item:focus,
.cid-ts9nzkF33j span:focus {
  outline: none;
}
.cid-ts9nzkF33j .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ts9nzkF33j .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ts9nzkF33j .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ts9nzkF33j .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-ts9nzkF33j .item-wrapper {
  background: transparent;
}
.cid-ts9nzkF33j .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ts9nzkF33j .mbr-section-title {
  color: #232323;
}
.cid-ts9nzkF33j .mbr-text,
.cid-ts9nzkF33j .mbr-section-btn {
  text-align: left;
}
.cid-ts9nzkF33j .item-title {
  text-align: left;
}
.cid-ts9nzkF33j .item-subtitle {
  text-align: center;
}
.cid-tqckckbJVY {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ebeaea;
}
.cid-tqckckbJVY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqckckbJVY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqckckbJVY .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqckckbJVY .row {
  flex-direction: row-reverse;
}
.cid-tqckckbJVY img {
  width: 100%;
}
.cid-tqDKDGbSm0 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #136e73;
}
.cid-tqDKDGbSm0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqDKDGbSm0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqDKDGbSm0 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tqDKDGbSm0 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tqDKDGbSm0 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tqDKDGbSm0 .mbr-text,
.cid-tqDKDGbSm0 .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tqDKDGbSm0 .mbr-section-title {
  text-align: left;
  color: #ffe885;
}
.cid-tqcfg76qaQ {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqcfg76qaQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqcfg76qaQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqcfg76qaQ .mbr-section-subtitle {
  color: #000000;
  text-align: left;
}
.cid-tq9Z7sCW1e {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tq9Z7sCW1e .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-tq9Z7sCW1e .mbr-text {
  color: #000000;
}
.cid-tq9ZbO3haG {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tq9ZbO3haG .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tq9ZbO3haG .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tq9ZbO3haG .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #136e73;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tq9ZbO3haG .mbr-text {
  color: #000000;
}
.cid-tqffKDjqvi {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../images/mbr-1920x1328.png");
}
.cid-tqffKDjqvi .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqffKDjqvi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqffKDjqvi .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tqffKDjqvi .row {
    flex-direction: column-reverse;
  }
  .cid-tqffKDjqvi .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tqffKDjqvi .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tqffKDjqvi .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tqffKDjqvi .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tqffKDjqvi .card-title {
  text-align: left;
  color: #ffffff;
}
.cid-tqffKDjqvi .mbr-text,
.cid-tqffKDjqvi .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-tqcgrh57tF {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tqcgrh57tF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqcgrh57tF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqcgrh57tF .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tqa2Ngl40f {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tqa2Ngl40f .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqa2Ngl40f .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tqa2Ngl40f .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #807474;
  margin-left: 1rem;
}
.cid-tqa2Ngl40f .panel-group {
  border: none;
}
.cid-tqa2Ngl40f .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tqa2Ngl40f .panel-body,
.cid-tqa2Ngl40f .card-header {
  padding: 1rem 0;
}
.cid-tqa2Ngl40f .panel-title-edit {
  color: #000000;
}
.cid-tqa2Ngl40f .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tqa2Ngl40f H3 {
  text-align: left;
}
.cid-tqfrkoGKwl {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tqfrkoGKwl .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-tqfrkoGKwl .mbr-text {
  color: #000000;
}
.cid-tqfs5SvEhm {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tqfs5SvEhm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tqfs5SvEhm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tqfs5SvEhm .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tqfs5SvEhm .row {
  flex-direction: row-reverse;
}
.cid-tqfs5SvEhm img {
  width: 100%;
}
.cid-tqfvsG97Fw {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tqfvsG97Fw .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-tqfvsG97Fw .mbr-text {
  color: #000000;
}
.cid-tqfmjAkME5 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-tqfmjAkME5 .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tqfmjAkME5 .mbr-text {
  color: #ffffff;
  text-align: center;
}
